body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

header {
  background-color: #87CEFA;
  color: black;
  padding: 15px;
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.category-container {
  display: flex; 
  justify-content: center; 
  gap: 10px; 
}

.category {
  color: #333;
  text-align: center;
  padding: 10px;
}


 h2 {
  text-align: center;
  color: #333;
}

.center-text {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid black;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

/* 価格のスタイル */
.price {
  font-size: 24px;
  font-weight: bold;
  color: #2e8b57;
  background-color: #f0f8ff;
  padding: 5px 10px;
  border-radius: 5px;
}